.vscode/
.vs/
.idea/
.gradle/
.DS_Store
node_modules
dist/
build/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user

gmon.out
Debug/
Release/

~$*

__pycache__/
*.aux
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.exe
*.mp4
